@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #6237b3;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
    --background: #0a0a0a;
    --foreground: #ededed;
}